.centered {
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
}

div, h1, p {
    background-color: gray;
    margin: 0;
    padding: 0;
}

#li {
    list-style-type: none;
}

#content {
    text-decoration: underline;
}

.monospaced {
    font-family: monospace;
}
